@mixin content {
    h1 .count {
        color: var(--gray);
        font-size: 1.35rem;
        margin-left: 1rem;
    }

    h1,
    h2 {
        + .v-checkbox,
        + .v-label {
            margin-top: 0 !important;
        }
    }

    .half {
        width: 50% !important;
    }

    .third {
        width: 33.33% !important;
    }

    .monospace {
        font-family: "Roboto Mono", monospace;
        font-size: 0.8rem;
    }

    .v-form {
        .columns {
            align-items: flex-start;

            > .v-flex + .v-flex {
                margin-left: 4rem !important;
            }
        }

        .v-flex {
            h2,
            .v-label {
                align-self: flex-start;
            }

            &.row .v-flex.column + .v-flex.column {
                margin-left: 1.5rem;
            }
        }

        .v-input,
        .v-select {
            width: 100%;
        }

        .v-input + .v-button,
        .v-select + .v-button {
            margin-left: 1rem;
        }

        > .v-flex + h2,
        > .v-flex + .v-flex > h2 {
            margin-top: 2rem;
        }

        > .v-checkbox,
        > .v-label {
            margin-top: 0.75rem;
        }
    }

    .v-message {
        &.selection {
            padding: 0.25rem 0.25rem 0.25rem 0.75rem;
            position: absolute;
            right: 2rem;
            top: 2rem;

            .v-button {
                margin-left: 0.5rem;

                ::v-deep {
                    .v-button-content {
                        color: inherit;
                        opacity: 0.65;
                    }

                    .active > .v-button-content,
                    > .v-button-content:active,
                    > .v-button-content:focus,
                    > .v-button-content:hover {
                        background-color: transparent;
                        opacity: 1;
                    }
                }
            }
        }

        + .v-toolbar {
            margin-top: 0.5rem;
        }
    }

    .v-table {
        .v-table-row {
            .link {
                cursor: pointer;
                text-decoration: none;

                &:focus {
                    outline: none;
                    text-decoration: underline;
                }
            }

            .reveal {
                visibility: hidden;
            }

            &:hover {
                .link {
                    text-decoration: underline;
                }

                .reveal {
                    visibility: visible;
                }
            }
        }
    }

    .v-message + .v-toolbar,
    .v-table + .v-toolbar {
        background: none;
        margin-top: 0.25rem;

        > :first-child {
            margin-left: 0;
        }

        .v-message {
            line-height: var(--input-height);
            padding: 0 0.65rem;

            &.note {
                color: var(--gray);
            }
        }
    }

    .v-toolbar {
        .modified {
            color: var(--light-gray);
            padding: 0 0.6rem;
        }
    }
}
