@mixin input {
  align-items: center;
  border: 1px solid var(--input-border);
  border-radius: 0.2rem;
  display: inline-flex;
  height: var(--input-height);
  line-height: var(--input-height);
  min-width: 12rem;
  padding: 0 0.5rem;
  position: relative;
  vertical-align: middle;

  &[aria-disabled],
  &[aria-readonly] {
    pointer-events: none;
  }

  &[aria-disabled] {
    color: var(--light-gray);
  }

  &[aria-invalid] {
    border-color: var(--input-invalid-color) !important;
    color: var(--input-invalid-color) !important;

    .v-icon {
      color: inherit;
    }
  }

  &.focus {
    border-color: var(--input-focus-color);
    color: var(--color);
  }

  .v-icon {
    color: var(--input-icon-color);
    font-size: 0.8rem;
    min-width: 1.25rem;
    width: 1.25rem;

    &:first-child {
      margin-right: 0.35rem;
    }

    &.help {
      opacity: 0.65;

      &:hover {
        opacity: 1;
      }
    }
  }

  .v-label {
    color: var(--input-label-color);
    margin-right: 0.5rem;
  }
}
